<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ebooklibrary.config" type="EbookLibrary.Configuration.LibrarySection, EbookLibrary.Configuration"/>
  </configSections>
  <ebooklibrary.config>
    <libraries>
      <library name="Gutenberg" type="EbookLibrary.Gutenberg.Library, EbookLibrary.Gutenberg"/>
    </libraries>
  </ebooklibrary.config>
</configuration>